body
{
    background-image:url("b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#a
{
    color:orangered;
}
#b
{
    border-style: dashed;
    border-width : medium;
    text-align: center;
    border-radius: 200px;
}
h1.header,h2.UN
{
    text-align:center;
}
#social
{
    color:blue
}

#c:hover
{
    background-color:black;
}
#b:hover
{
background-color: burlywood;
}

#c{
    border-style: dashed;
    border-width : medium;
    text-align: center;
    border-radius: 200px;
    background-color: yellow;
   animation: an;
   position: relative;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: 0sec;
}
#b{
    border-style: dashed;
    border-width : medium;
    text-align: center;
    border-radius: 200px;
    background-color: gold;
   animation: an;
   position: relative;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: 0sec;
}

@keyframes an {
    from{
        left: 500px;
    }
    to{
        left: 0px;
    }
}